<h1>user profile</h1>
{{> flashMessage }}

<p>
    username: {{currentUser.username}}<br>
    email: {{currentUser.email}}<br>
    role: {{currentUser.role}}<br>
    avatar: {{currentUser.avatar}}
</p>